.section {
    width: 80%;
    display: block;
    margin: 0 auto;
    outline: 1px solid red;
    margin-top: 15px;
    height: 200px;
    background-color: gray;
    color: white;
}

.different {
    background-color: teal;
    outline: 5px dashed thistle;
}

.bigger-size {
    font-size: 30px;
    color: lightseagreen;
}

h5 {
    color:lightblue;
}

.whiteText {
    color: white;
}

.blackText {
    color: black;
}

.text-background {
    background-color: grey;
}

.travolta-image {
    background-image: url("../images/travolta.jpg");
}

.SU-image {
    background-image: url("../images/SU.jpg");
}

.Claire-image {
    background-image: url("../images/Claire\ BA.jpg");
}

.animalcrossing-image {
    background-image: url("../images/animal\ crossing.jpg");
}

.hide {
    display: none;
}

.highlightText {
    color: papayawhip;
    text-decoration: underline;
    font-weight: bold;
    font-sized: 50px;
}