.section {
    width: 80%;
    display: block;
    margin: 0 auto;
    outline: 1px solid red;
    margin-top: 15px;
    height: 200px;
    background-color: gray;
    color: white;
}

.different {
    background-color: teal;
    outline: 5px dashed thistle;
}

.bigger-size {
    font-size: 30px;
    color: lightseagreen;
}

h5 {
    color: lightblue;
}

.whiteText {
    color: white;
}

.blackText {
    color: black;
}

.text-background {
    background-color: olivedrab;
}

.travolta-image {
    background-image: url("../images/travolta.jpg");
}

.SU-image {
    background-image: url("../images/SU.jpg");
}

.Claire-image {
    background-image: url("../images/ClaireBA.jpg");
}

.animalcrossing-image {
    background-image: url("../images/animalcrossing.jpg");
}

.hide {
    display: none;
}

.highlightText {
    color: orange;
    text-decoration: underline;
    font-weight: bold;
    font-size: 50px;

}

/* positioning example */
.fixed {
    top: 0;
    left: 0;
    padding: 40px;
    margin: 0;
    text-align: center;
    background: orange;
}

.wrapper {
    width: 600px;
    padding: 20px;
    margin: 0 auto;
}

.relative {
    height: 200px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    background: #eee;
}

.absolute {
    right: -30px;
    bottom: 0;
    width: 250px;
    padding: 20px;
    text-align: center;
    background: olive;
}

.hover-state:hover {
    color: white;
    background-color: blue;
    border: 2px solid aqua;
}
