body {
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 120px;
}

footer {
    padding: 40px;
    background: olivedrab;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 100px;
    text-align: center;
    color: white;
}

.height200 {
    height: 200px;
    background-color: lightgrey;
    margin: 20px 0;
}

.customNavBg {
    background-color: olivedrab !important;
}

.customNavBg>a.navbar-brand:hover {
    color: white
}

.customNavBg li {
    margin-right: 20px;
}

.customNavBg li.nav-item.active>a {
    color: white;
    font-weight: bold;
}

.customNavBg a {
    color: white;
}

.customNavBg li>a:hover {
    color: orange;
    text-decoration: underline;
    font-weight: bold;
    transform: scale(1.2);
}

.customNavBg a.dropdown-item {
    color: lightslategrey;
    background-color: transparent;
}

.customNavBg a.dropdown-item:hover {
    color: orange;
    text-decoration: underline;
}

.sectionTitle {
    text-align: center;
    margin: 30px;
    color: teal;
    text-decoration: underline;
}

.sectionTitle h2 {
    color: teal;
    font-weight: bold;
    text-align: center;
}

.sectionTitle hr {
    border: 2px solid teal;
    width: 30%;
}

/* tool tip */
.tooltip .tooltiptext {
    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    /* Use half of the width (120/2 = 60), to center the tooltip */
}