.pStyle {
    color: lightskyblue;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Arial, Helvetica, sans-serif 'Trebuchet MS', sans-serif;
}
body {
    background-color: white;
    background-image: url("../images/SU.jpg");
    background-size: cover;
}


#firstbox {
    width: 200px;
    height: 200px;
    background: lightsteelblue;
    border: dashed;
    padding: 5px;
}

#secondbox {
    width: 300px;
    height: 200px;
    background: peachpuff;
    border: ridge;
    padding: 10px;
    margin-top: 20px;
    
}