body {
    font-family: "Roboto Slab", sans-serif;
    padding-bottom: 120px;
}

footer {
    padding:40px;
    background: olivedrab;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 100px;
    text-align: center;
    color:white;
}

.height200 {
    height: 200px;
    background-color: orange;
    margin: 20px 0;
}

/* navigation custom styling */
.customNavBg {
    background-color:olivedrab !important;
}

.customNavBg > a.navbar-brand:hover {
    color: white
}

.customNavBg li {
    margin-right: 20px;
}

.customNavBg li.nav-item.active > a {
    color: orange;
    font-weight: bold;
}

.customNavBg a {
    color:olivedrab;
}

.customNavBg li > a:hover {
    color: orange;
    text-decoration: underline;
    font-weight: bold;
    transform: scale(1.2);
}

.customNavBg a.dropdown-item {
    color: teal;
    background-color: transparent;
}

.customNavBg a.dropdown-item:hover {
    color: orange;
    text-decoration: underline;
}

/* section title styling */
.sectionTitle {
    text-align: center;
    margin: 30px 0 0 0;
}

.sectionTitle h2 {
    color: thistle;
    font-weight: bold;
}

.sectionTitle hr {
    border: 2px solid thistle;
    width: 30%;
}
