<style>
body {
  background-image: url('SU.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>

.hover-state:hover {
  color: white;
  background-color:green;
  border: 2px white;
}
a:visited {
color: red
}